<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <rule name="Streamlit Dashboard" stopProcessing="true">
          <match url="^dashboard/?(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:8501/dashboard/{R:1}" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>